{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Editer la tache</h1>

    {{ include('task_crud_test/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_task_crud_test_index') }}">Retourner à la liste des taches</a>

    {{ include('task_crud_test/_delete_form.html.twig') }}
{% endblock %}
